@{
    ViewBag.Title = "Home Page";
}

<div id="main-content">
    Hello World
</div>

<div id="some-existing-setting">@ViewBag.SomeExistingSetting</div>
<div id="some-new-setting">@ViewBag.SomeNewSetting</div>

<script type="text/javascript">
    window.someStoredValue = { hello: "world" };
</script>